.brands_section {
  margin-block: 4em;
  width: 100%;
  // height: 60vh;
  padding-block: 2em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .brands_section_container {
    //transform-origin: left;
    width: 100%;
    background-color: #f1f1f1;
    height: 6em;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    overflow-y: hidden;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    .rfm-child {
      width: 10em;
      margin: 0 20px;
      img {
        width: 100%;
      }
    }
  }
}
