.trips_section {
  .trips_section_container {
    padding: 0 0 30px 0;
    .trips_card {
      background-color: #f1f1ff;
      padding: 1em;
      border-radius: 1em;
      cursor: pointer;
      &_image {
        width: 100%;
        height: 30vh;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -ms-border-radius: 1em;
        -o-border-radius: 1em;
        overflow: hidden;
        margin-bottom: 1em;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &_desc {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5em;
        padding-bottom: 2.5em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      &_btn {
        text-align: center;
        padding-block: 1em;
        padding-top: 1.5em;
        button {
          color: #f1f1ff;
          width: 100%;
          padding: 12px;
          background: #1d1d1d;
          border-radius: 1em;
          -webkit-border-radius: 1em;
          -moz-border-radius: 1em;
          -ms-border-radius: 1em;
          -o-border-radius: 1em;
          text-transform: capitalize;
          cursor: pointer;
          &:hover {
            background-color: #282a2b;
          }
        }
      }
    }
  }
}

.ThemeEffect {
  .trips_card {
    background-color: #fff !important;
  }
}
