footer {
  text-align: center;
  color: #f1f1f1;
  border-top: 1px solid #4a4a4a;
  background-color: #1d1d1d;
  p {
    font-size: 16px;
    opacity: 0.7;
    a {
      text-decoration: none !important;
      color: #f1f1f1 !important;
    }
  }
}
.ThemeEffect {
  footer {
    background-color: #f1f1f1;
  }
}
